*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

:root{
    --main-color: rgb(226, 142, 86);
    --secondary-color: #1b1b1b;

}

@font-face {
    font-family: "font";
    src: url(./assets/stone\ orgonite.woff);
}
section {
    padding: 5%;
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav svg {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

nav svg::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    z-index: -1;
}


.links{
    position: absolute;
    background: var(--secondary-color);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    z-index: 5;
}
.links a{
    color: var(--main-color);
    font-size: 3rem;
}

.logo {
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "font", monospace;
}

.logo h1{
    margin-left: 1rem;
}

.logo img{
    width: 3rem;
}

.front-page {
    min-height: 100vh;
    color: antiquewhite;
}

.about {
    /* background-color: white;
    padding: 20px;*/
    position: relative; 
    margin-top: 25vh;
    font-family: "font", monospace;
    text-shadow: 0px 4px 12px rgba(0,0,0, 40);
    text-align: center
    

}

.about {
    position: relative; 
    margin-top: 25vh;
    font-family: "font", monospace;
    text-shadow: 0px 4px 12px rgba(0,0,0, 40);
    text-align: center;
    padding: 20px; /* add padding to the parent element instead */
}

.about h2 {
    position: relative;
    z-index: 1;
}

.about h2::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    z-index: -1;
}

.about h3 {
    font-family: monospace;
}

.ctas {
    margin-top: 2rem;
}

.ctas button {
    padding: 0.5rem;
    font-family: monospace;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0,0,0, 0.2);
    margin: 1rem;
    cursor: pointer;
}


.cta-main {
    background-color: var(--main-color);
    color: beige;
}

.cta-sec {
    background-color: var(--main-color);
    color: beige;
}

.london{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.classes{
    color: var(--main-color);
    text-align: center;
    font-family: 'font', monospace;
}
.classes h3{
    font-family: monospace;
    color: antiquewhite;
}

.videos iframe{
    border-radius: 1rem;
    margin-top: 1rem;
}
.clips,
.funny {
    position: relative;
}

.videos h3{
    color: antiquewhite;
    position: absolute;
    font-family: monospace;
    text-shadow: 0px 2px 12px rgba(0,0,0, 0.4);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    font-size: 1rem;
}

.story {
    color: var(--main-color);
}

.story h2{
    font-family: "font", monospace;
}

.story p{
    line-height: 150%;
    font-family: monospace;
    font-size: 1.2rem;
    color: antiquewhite;
}

.story img{
    width: 100%;
    margin-top: 2rem;
}