*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    /* overflow-x: hidden; */
}

.wrapper{
    overflow-x: hidden;
}


body{
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

:root{
    --main-color: rgb(226, 142, 86);
    --secondary-color: rgb(62, 61, 61);
    --light: rgb(250, 235, 215);
}

.mode {
    --secondary-color: rgb(250, 235, 215);
    --light: rgb(62, 61, 61);
  }

@font-face {
    font-family: "font";
    src: url(./assets/stone\ orgonite.woff);
}
section {
    padding: 2%;
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

nav {
    outline: red dashed 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    outline: red dashed 1px;
    color: antiquewhite;
    position: relative;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    stroke: antiquewhite;
  }

.nav-icon::before {
    content: "";
    position: absolute;
    /* top: 10%;
    left: 10%; */
    /* transform: translateX(-50%,-50%); */
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(62, 61, 61);
    z-index: -1;
    min-width: 10px;
    padding: 5px;
}

.links{
    position: absolute;
    background: var(--secondary-color);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    z-index: 5;
}
.links a{
    color: var(--main-color);
    font-size: 3rem;
    text-decoration: none;
}

.logo {
    position: relative;
    outline: red dashed 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1rem;
    font-family: "font", monospace;
}

.logo h1{
    color: white;
}

.logo img{
    margin-top: 10px;
    width: 2rem;
    scale: 0.8;
}

.logo::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-20%); */
    top: -20px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(62, 61, 61);
    z-index: -1;
    padding: 20px;
}


.london{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
    /* position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

/* For in line about section within nav bar */


.about {
    outline: red dashed 1px;
    position: relative; 
    font-family: "font", monospace;
    text-shadow: 0px 4px 12px rgba(0,0,0, 40);
    text-align: center;
} 

/* For seperated about section */

/* 
.about {
    outline: red dashed 1px;
    position: relative; 
    margin-top: 2vh;
    font-family: "font", monospace;
    text-shadow: 0px 4px 12px rgba(0,0,0, 40);
    text-align: center;
    padding: 20px; 
} */


.about h2 {
    position: relative;
    z-index: 1;
}

.about::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 250px;
    border-radius: 0.5rem;
    background-color: rgb(62, 61, 61);
    z-index: -1;
    /* min-width: 300px; */
    /* padding: 20px; */
}

.about h3 {
    font-family: monospace;
    position: relative;
    z-index: 2;
    top:-10px;
}



.menu-bar {
    /* background-color: var(--secondary-color);
    height: 50px;*/
    outline: red dashed 1px;

    /* position: absolute;  

    margin-top: 50vh; */
    /* position: fixed; */
    /* top: 50%; */
    /* transform: translateY(-50vh); */
    position: absolute;
    
    top: 50%;
    width: 100%;
    left: 0%;
    transform: translateY(-50%);
    /* top: 0; */
    background-color: var(--secondary-color);
}
  
.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
   
.menu-bar li {
    float: left;
} 

.menu-bar li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-bar li a:hover {
    background-color: rgba(0,0,0, 0.4);
}

li.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 350;
    height: 100%;
    width: 130px;
    background-color: antiquewhite; /* Replace with your desired color */
    border-radius: 0.5rem;
    z-index: -1;
}




.front-page {
    min-height: 100vh;
    color: antiquewhite;
}

.story {
    margin-top: -50vh;
    color: var(--main-color);
}

.story h2{
    font-family: "font", monospace;
}

.story p{
    line-height: 150%;
    font-family: monospace;
    font-size: 1.2rem;
    color: antiquewhite;
}

.story img{
    width: 100%;
    margin-top: 2rem;
}

.classes{
    color: var(--main-color);
    text-align: center;
    font-family: 'font', monospace;
    /* margin-top: -50vh; */
}
.classes h3{
    font-family: monospace;
    color: antiquewhite;
}

.videos iframe{
    border-radius: 1rem;
    margin-top: 1rem;
}
.clips,
.funny {
    position: relative;
}

.videos h3{
    color: antiquewhite;
    position: absolute;
    font-family: monospace;
    text-shadow: 0px 2px 12px rgba(0,0,0, 0.4);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    font-size: 1rem;
}

/* Code of experience page #####################################################################################################*/
.experience-page {
    /* min-height: 100vh; */
    color: var(--light);
}

.exp-header {
    /* width: 70%; */
    outline: red dashed 1px;
    text-align: center;
    font-family: "font", monospace;
    left: 500px; 
}

.dark-mode button {
    background-color: var(--light);
    color: var(--secondary-color);
    font-family: monospace;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}


.menu-bar-2 {

    outline: red dashed 1px;
    position: absolute;
    top: 7rem;
    width: 100%;
    left: 0%;
    /* transform: translateY(-50%); */
    background-color: var(--secondary-color);
}
  
.menu-bar-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
   
.menu-bar-2 li {
    float: left;
    z-index: 1;
} 

.menu-bar-2 li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-bar-2 li a:hover {
    background-color: rgba(0,0,0, 0.4);
}

li.active a {
    color: var(--secondary-color);
    /* color: white; */
}

li.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 350;
    height: 100%;
    width: 130px;
    background-color: var(--light); /* Replace with your desired color */
    border-radius: 0.5rem;
    z-index: -1;
}

.exp-center {
    display: flex;
    justify-content: center;
}

.experience-body{
    outline: red dashed 1px;
    margin-top: 60px;
    /* margin-left: 10%; */
    width: 80%;
    /* height: 100%; */
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    max-width: 1000px;
}

  
.experience-body img {
    border-radius: 20px;

}

.hk {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hk ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}


.uq {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.uq ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}


.a-team {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.a-team ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}

.header {
    outline: red dashed 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h3 {
    color: var(--light);
    font-size: 0.8rem;
}




.experience-body img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit:scale-down;
}

