*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

:root{
    --main-color: rgb(226, 142, 86);
    --secondary-color: rgb(62, 61, 61);
    --light: rgb(255, 255, 255);
}

.mode {
    --secondary-color: rgb(255, 255, 255);
    --light: rgb(62, 61, 61);
  }

@font-face {
    font-family: "font";
    src: url(./assets/stone\ orgonite.woff);
}
section {
    padding: 2%;
}

h2{
    font-size: 2rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

nav {
    /* outline: red dashed 1px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    position: absolute;
    background: var(--secondary-color);
    width: 50%;
    height: 100vh;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(150%);
    z-index: 5;
    border-left: 2px solid var(--light);
}
.links a{
    color: var(--main-color);
    font-size: 1.8rem;
    text-decoration: none;
    left: -510px;
}

a.active {
    color: var(--light);
}

.contacts-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1rem;
    font-family: "font", monospace;
}

.contacts-wrapper h1{
    color: var(--light);
}

.contacts-wrapper img{
    margin-top: 10px;
    width: 2rem;
    scale: 0.8;
}

.contacts::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(62, 61, 61);
    z-index: 0;
}


.main-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
}

/* For in line about section within nav bar */
.intro {
    position: relative; 
    font-family: "font", monospace;
    text-align: center;
} 

.intro h2 {
    position: relative;
    color: white;
    z-index: 1;
}

.intro h3 {
    color: white;
    font-family: monospace;
    position: relative;
    z-index: 2;
    top:-10px;
}

.intro::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 250px;
    border-radius: 0.5rem;
    background-color: rgb(62, 61, 61);
    z-index: -1;
}

.menu-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
}
  
.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
   
.menu-bar li {
    float: left;
} 

.menu-bar li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);
}
  
.menu-bar li a:hover {
    border-bottom: 2px solid var(--light);
}

.active::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 600;
    height: 100%;
    background-color: antiquewhite;
    z-index: -1;
}

.front-page {
    min-height: 100vh;
    color: antiquewhite;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -45vh;
    color: var(--main-color);
}

.about h2{
    font-family: "font", monospace;
}

.about p{
    line-height: 150%;
    font-family: monospace;
    font-size: 1rem;
    color: var(--light);
}

.about-text {
    width: 60%;
    min-width: 350px;
}

.resume-button-wrapper {
    width: 60%;
    min-width: 350px;
    align-items: start;
    margin-top: 1rem;
    /* justify-content: left; */
}

.about button {
    background-color: var(--light);
    color: var(--secondary-color);
    font-family: monospace;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: 'font', monospace;
}

.media-text {
    width: 60%;
    min-width: 350px;
}

.media img{
    width: 60%;
    max-width: 560px;
    border-radius: 1rem;

}

.videos {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.videos iframe{
    border-radius: 1rem;
    margin-top: 1rem;
}

.video-1,
.video-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Code of experience page #####################################################################################################*/
.experience-page {
    color: var(--light);
}

.exp-header {
    text-align: center;
    font-family: "font", monospace;
    left: 500px; 
}

.dark-mode button {
    background-color: var(--light);
    color: var(--secondary-color);
    font-family: monospace;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.menu-bar-2 {
    position: absolute;
    top: 7rem;
    width: 100%;
    left: 0%;
    background-color: var(--secondary-color);
}
  
.menu-bar-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
   
.menu-bar-2 li {
    float: left;
    z-index: 1;
} 

.menu-bar-2 li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);
}
  
.menu-bar-2 li a:hover {
    border-bottom: 2px solid var(--light);
}

li.active {
    position: relative;
}

li.active a {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--light);
}

li.active::before {
    /* outline: red dashed 1px; */
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    background-color: var(--light);
    border-radius: 0.5rem;
    z-index: -1;
}

.exp-center {
    display: flex;
    justify-content: center;
}

.experience-body{
    /* outline: red dashed 1px; */
    margin-top: 100px;
    width: 80%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    max-width: 1000px;
}

  
.experience-body img {
    border-radius: 20px;

}

.cat {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cat ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}

.hk {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hk ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}


.uq {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.uq ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}


.a-team {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.a-team ul {
    margin-left: 5%;
    color: var(--light);
    font-size: 0.8rem;
}

.header {
    /* outline: red dashed 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h2 {
    /* width: 100%; */
    color: var(--light);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h3 {
    /* width: 100%; */
    color: var(--light);
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-2 {
    /* outline: red dashed 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-2 h2 {
    /* width: 100%; */
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-2 h3 {
    /* width: 100%; */
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.experience-body img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit:scale-down;
}

/* Projects page styling ################################################################################ */

.projects-center {
    /* outline: red dashed 1px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: relative;
}


.project-1 {
    /* outline: blue dashed 1px; */
    margin-top: 100px;
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
}

.project-1::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: black;
    z-index: -1;
}

.project-1-text {
    display: none;
}

.project-1-img {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.project-1-img img{
    height: 7rem;
    object-fit:scale-down;
    border-radius: 1rem;
    
}

.project-1-img svg{
    margin-top: 5rem;
    height: 2rem;
    width: 2rem;
    fill: white;
    stroke: white;
    cursor: pointer;
    
}

.project-1-img svg:hover {
    background-color: rgba(0,0,0, 0.4);
}

.project-1-video {
    display: none;
}

/* Drop down logic */
.project-1-text.dd {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.project-1-text.dd ul{
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.project-1-text.dd li{
    gap: 2rem;
}

.project-1-video.dd {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-1-video.dd iframe{
    border-radius: 1rem;
}

.project-1-img.dd svg {
    transform: rotate(180deg);
}

.project-2 {
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
}

.project-2::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: black;
    z-index: -1;
}

.project-2-text {
    display: none;
}

.project-2-video {
    display: none;
}

.project-2-video.dd {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-2-img {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.project-2-img img{
    height: 7rem;
    object-fit:scale-down;
    border-radius: 1rem;
}

.project-2-img svg{
    margin-top: 5rem;
    height: 2rem;
    width: 2rem;
    fill: white;
    stroke: white;
    cursor: pointer;
    
}

.project-2-img svg:hover {
    background-color: rgba(0,0,0, 0.4);
}

/* drop down styling */
.project-2-text.dd {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.project-2-text.dd ul{
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.project-2-text.dd li{
    gap: 2rem;
}

.project-2-video.dd iframe{
    border-radius: 1rem;
}

.project-2-img.dd svg {
    transform: rotate(180deg);
}

/* Blog page styling ################################################################################ */

.blog-1 {
    /* outline: blue dashed 1px; */
    margin-top: 100px;
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
}
.blog-1::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(0,0,0);
    z-index: -1;
}

.blog-1-text {
    display: none;
}

.blog-1-text h1{
    /* outline: red dashed 1px; */
    font-size: min(1.5vw, 1rem);
}

.blog-1-img {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.blog-1-img img{
    height: 7rem;
    object-fit:scale-down;
    border-radius: 1rem;
    
}

.blog-1-img svg{
    margin-top: 5rem;
    height: 2rem;
    width: 2rem;
    fill: white;
    stroke: white;
    cursor: pointer;
    
}

.blog-1-img svg:hover {
    background-color: rgba(0,0,0, 0.4);
}

.blog-1-text.dd {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 0.5rem;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.blog-1-img.dd svg{
    transform: rotate(180deg);
}

/* Resume page styling ################################################################################ */
.resume {
    /* outline: red dashed 1px; */
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.resume-pdf {
    /* outline: red dashed 1px; */
    width: 100%;
    max-width: 845px;
    height: 100%;
    max-height: 1070px;
    border-radius: 1rem;
}

/* Removeing elements only meant for mobile devices */
.dark-mode-ios {
    display: none;
}

.nav-icon {
    display: none;
}


/* code for dealing with smaller screens */
@media screen and (max-width: 767px) {
    .intro h2 {
        color: var(--light);
    }
    
    .intro h3 {
        color: var(--light);
    }
    
    .intro::before {
        background-color: var(--secondary-color);
    }



    .contacts-wrapper::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -20px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    z-index: -1;
    padding: 20px;
    }

    
    .contacts-wrapper::before {
        content: "";
        position: absolute;
        top: -40px;
        height: 150%;
        width: 1500px;
        background-color: var(--secondary-color);
        z-index: -1;
    }

    .menu-bar {
        display: none;
    }

    .classes {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .experience-body {
        margin-top: 0rem;
    }

    .hk {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .uq {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .uq img{
        margin-top: 1rem;
    }

    .a-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    a.active-2 {
        color: var(--light);
    }

    .menu-bar-2 {
        display: none;
    }

    .dark-mode {
        display: none;
    }

    .dark-mode-ios {
        width: 100%;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: end;
        padding-right: 1rem;

    }

    .dark-mode-ios button {
        background-color: var(--light);
        color: var(--secondary-color);
        font-family: monospace;
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        text-align: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .nav-icon {
        /* outline: red dashed 1px; */
        color: var(--light);
        position: relative;
        cursor: pointer;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .line {
        stroke: var(--light);
      }
    
    .nav-icon::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        background-color: var(--secondary-color);
        z-index: -1;
        min-width: 10px;
        padding: 5px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project-1 {
        margin-top: 0rem;
    }

    .project-1-img {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    .project-1-img img{
        height: 7rem;
        object-fit:scale-down;
        border-radius: 1rem;
    }

    .project-1-img svg{
        /* outline: red dashed 1px; */
        margin-top: 0rem;
        height: 2rem;
        width: 2rem;
        fill: white;
        stroke: white;
        cursor: pointer;
        
    }

    .project-2-img {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    .project-2-img img{
        height: 7rem;
        object-fit:scale-down;
        border-radius: 1rem;
    }

    .project-2-img svg{
        /* outline: red dashed 1px; */
        margin-top: 0rem;
        height: 2rem;
        width: 2rem;
        fill: white;
        stroke: white;
        cursor: pointer;
        
    }

    .blog-1 {
        margin-top: 0rem;
    }

    .blog-1-text h1{
        margin-top: 1rem;
        /* font-size: 0.4rem; */
        font-size: 0.3rem;
        font-size: 1.5vw;
    }

    .blog-1-img img{
        width:  300px;
        height: 7rem;
        object-fit:scale-down;
        border-radius: 1rem;
    }

    .resume-pdf {
        /* outline: red dashed 1px; */
        width: 100%;
        height: 80%;
        border-radius: 1rem;
    }

}

/* transitions css */
.transition-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(62, 61, 61);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

